.content {
    padding: 0 10% 10% 10%;
}

.main-link {
    color: #555555;
}

.main-link:hover {
    color: black;
    text-decoration: underline;
}

.main-link:visited {
    color: #555555;
    text-decoration: none;
}

.answer-alert {
    padding: 5px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 5px;
}

.answer-alert.success {
    background-color: #04AA6D;
}

.answer-alert.info {
    background-color: #2196F3;
}

.answer-alert.warning {
    background-color: #ff9800;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.main-button {
    color: black;
    background-color: white;
    border: black 2px solid;
    font-weight: bold;
}

.main-button:hover {
    color: white;
    background-color: black;
}

.main-button__disabled {
    color: gray;
    border-color: gray;
}

.main-button__disabled:hover {
    color: gray;
    background-color: white;
}

.main-input {
    color: black;
    background-color: white;
    border: black 2px solid;
    border-radius: 0;
}

.checkbox-input {
    border: 2px solid black !important;
}

.checkbox-input:checked {
    accent-color: black;
}

.mb-2 {
    margin-bottom: 0.5rem;
}