{% extends "kos/base.html" %}

{% block title %}Zmena hesla{% endblock %}

{% block content %}
<h2>{% if token_fail %}Nesprávny token{% else %}Zmena hesla{% endif %}</h2>
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>Link pre obnovenie hesla je neplatný alebo bol už použitý. Požiadaj si znova o <a href="{{ passwd_reset_url }}"
        class="main-link">obnovenie hesla</a>.</p>
{% else %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main-button">Zmeniť heslo</button>
</form>
{% endif %}

{% endblock %}