{% extends "kos/base.html" %}

{% load kos_extras %}

{% block title %}Archív{% endblock %}

{% block content %}
<h2>Archív</h2>
<table>
    {% for year in years %}
    {% did_year_end year as year_ended %}
    <tr>
        <td>{{year.name}}</td>
        <td>

            {% if year.solutions_public %}
            <a href="{% url 'kos:puzzle-archive' pk=year.pk %}">Šifry a riešenia</a>
            {% elif year_ended %}
            Zadania a riešenia šifier budú čoskoro zverejnené.
            {% else %}
            Zadania a riešenia šifier budú zverejnené po skončení hry.
            {% endif %}
        </td>
        <td>
            <a href="{% url 'kos:results' pk=year.pk %}">Poradie</a>
        </td>
        <td>
            {% if year.photo_url %}
            <a href="{{year.photo_url}}">Fotogaléria
                {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}