{% extends "kos/base.html" %}

{% block title %}Zmena údajov{% endblock %}

{% block content %}
<h2>Zmena údajov tímu</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="{% if disabled %}main-button__disabled mb-2{% else %}main-button mb-2{% endif %}" {% if disabled %}disabled{% endif %}>Uložiť</button>
</form>

<a href="{% url 'kos:change-password' %}" class="main-link">Zmeniť heslo</a>

{% if paid %}
    <div class="answer-alert success">Platba prijatá.</div>
{% else %}
    <div class="answer-alert error">Platbu za súťaž zatiaľ neevidujeme.</div>
{% endif %}
{% endblock %}