{% extends "kos/base.html" %}

{% block title %}Zmena údajov{% endblock %}

{% block content %}
<h2>Zmena údajov tímu</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="main-button mb-2">Uložiť</button>
</form>

<a href="{% url 'kos:change-password' %}" class="main-link">Zmeniť heslo</a>

{% if paid %}
    <div class="answer-alert success">Platba prijatá.</div>
{% else %}
    <div class="answer-alert error">Platbu za súťaž zatiaľ neevidujeme.</div>
{% endif %}
{% endblock %}