{% extends "kos/base.html" %}

{% block title %}Zmena údajov{% endblock %}

{% block content %}
<h2>Zmena údajov tímu</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="{% if disabled %}main-button__disabled mb-2{% else %}main-button mb-2{% endif %}" {% if disabled %}disabled{% endif %}>Uložiť</button>
</form>

<a href="{% url 'kos:change-password' %}" class="main-link">Zmeniť heslo</a>

{% if paid %}
    <div class="answer-alert success">Platba prijatá.</div>
{% else %}
    <div class="answer-alert error">Platbu za súťaž zatiaľ neevidujeme.</div>
{% endif %}

<script>
// TODO: Solve this more properly and also check for this on backend
// Hack to remove the disable attribute of is_online field on submit
// Otherwise the value of is_online is not sent at post and the team
// is marked as offline upon e. g. changing their name after the 
// registration ends but before the game concludes.
$("form").submit(function() {
    $("input").removeAttr("disabled");
});
</script>
{% endblock %}