{% extends "kos/base.html" %}

{% load kos_extras %}

{% block title %}{{game.name}}{% endblock %}

{% block content %}
{% if message %}
<h2>{{message}}</h2>
{% endif %}
{% for puzzle in visible_puzzles %}
<div>
    <h2>{{puzzle.level}}. {{puzzle.name}} - <a href="{% url 'kos:puzzle' pk=puzzle.pk %}" target="_blank"
            class="main-link">Stiahnuť</a>
    </h2>
</div>

{% if not puzzle.correctly_submitted %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" id="answer{{puzzle.id}}" name="answer" class="main-input">
    <input type="hidden" name="puzzle" value="{{puzzle.id}}">
    <input type="Submit" value="Odovzdať" class="main-button" />
</form>
{% endif %}
<h3>Hinty:</h3>
{% for hint in puzzle.hint_set.all %}
{% if hint in team.hints_taken.all %}
<div>{{hint.text}}</div>
{% else %}
{% if not puzzle.correctly_submitted %}
<form action="{% url 'kos:hint' pk=hint.pk %}" method="post">
    {% csrf_token %}
    {% can_team_take_hint hint team as hint_available %}
    {% if hint_available %}
    <input type="Submit" value="Zobrať {% if hint.count_as_penalty %}nápovedu{%else%}riešenie{%endif%}"
        class="main-button mb-2" />
    {% else %}
    <input type="Submit" value="Zobrať {% if hint.count_as_penalty %}nápovedu{%else%}riešenie{%endif%}"
        class="main-button main-button__disabled mb-2" disabled />
    {% all_prerequisites_met hint team as prerequisites_met %}
    {% if not prerequisites_met %}
    <!-- This should probably also say which hint is the unmet prerequisite -->
    Pred {% if hint.count_as_penalty %}touto nápovedou{% else %}riešením{% endif %} je nutné zobrať predošlú nápovedu.
    {% else %}
    {% get_hint_available_time hint team as hint_availability_time %}
    <!-- This needs to be displayed in the client's timezone -->
    Nápoveda sa dá zobrať o {{ hint_availability_time|date:'H:i:s' }}
    {% endif %}
    {% endif %}
</form>
{% endif %}
{% endif %}
{% endfor %}

<h3>Pokusy:</h3>
{% for submission in puzzle.current_submissions %}
<div class="answer-alert {% if submission.correct %}success{% endif %}">
    Zadané heslo: <strong>{{submission.competitor_answer}}</strong> - {% if submission.correct %} SPRÁVNE {% else %}
    NESPRÁVNE {% endif %}
</div>
{% endfor %}

{% if puzzle.correctly_submitted and not team.is_online %}
<div class="answer-alert info">
    <h3>Miesto ďalšej šifry:</h3>
    {{puzzle.location}}
</div>
{% endif %}

{% endfor %}
{% endblock %}